body {
  background-color: rgb(6, 6, 10);
   size: cover;
    padding: 0;
    text-align: center;
  }
  
  .game-intro {
    float: left;
    padding: 0% 10%;
  }
  
  .game-intro p {
    color: #054b50;
    font-size: 25px;
    font-family: "Verdana"
    
  }
  
  .logo-img {
    width: 1000px;
    margin-bottom: 20px;
    padding-top: 50px;
  }
  
  .arrows-img {
    width: 150px;
  }
  
  body button {
    font-size: 30px;
    background-color: #054b50;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  #game-board {
      float: left;
      padding: 20px 0px;
  }
  
  
  canvas {
    border: 1px solid #054b50;
  }