@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

html {
  scroll-behavior: smooth;
}


body {
  background-color: rgb(6, 6, 10);
   size: cover;
    padding: 0;
    text-align: center;
  }
  
  .game-intro {
    float: center;
    padding: 0% 10%;
  }
  
  .game-intro p {
    float: center;
    
    color: #08818a;
    font-size: 20px;
    font-family: "Orbitron"
    
  }
  
  .logo-img {
    float: center;
    width: 800px;
    margin-bottom: 30px;
    padding-top: 100px;
    
  }
  
  
  #start-button{
    float: center;
    margin-top: 15px;
    
  }

  body button {
    float: center;
    font-family: "Orbitron";
    font-size: 30px;
    background-color: #054b50;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 10px;
    margin-bottom: 20px;
    transition-property: 0.4s;
  }

  button:hover {
    background-color: white;
    color: #054b50;
  }
  
  #game-board {
      float: center;
      padding: 5px 0px;
  }
  
  
  canvas {
    margin-top: 20px;
    border: 2px solid #054b50;
  }